@import "variables";

.button {
  display: inline-block;
  border-radius: 8px;
  padding: 1.2rem 2.4rem;
  text-decoration: none;
  font-family: $font-main;
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 2.4rem;
  transition: all 0.2s ease-in;
  &:hover {
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
  }

  &--transparent {
    border: 1px solid $color-dark-violet;
    color: $color-dark-violet;
    background-color: transparent;
  }

  &--violet {
    border: 1px solid $color-dark-violet;
    background-color: $color-dark-violet;
    color: $color-white;
    &:hover {
      background-color: rgba(#8265E0, 0.8);
    }
  }

  &--white {
    background-color: $color-white;
    color: $color-dark-violet;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.4rem;
    padding: 8px 12px 8px 12px;
    font-family: $font-secondary;
  }

  &--green {
    background-color: $color-light-green;
    color: $color-white;
  }

  &--green-border {
    border: 1px solid $color-light-green;
    color: $color-light-green;
  }

  &--light-pink {
    background-color: $color-light-pink;
    color: $color-dark-pink;
  }
}
