@import "variables";

.main {
  background-color: $color-light-pink;
  padding: 0 0 35.2rem 0;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.4rem 6.4rem 2.4rem 4rem;
    margin-bottom: 11.2rem;

    @media only screen and (max-width: $breakpoint-medium) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
      margin-bottom: 6rem;
    }

    @media only screen and (max-width: $breakpoint-small) {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      margin-bottom: 4rem;
    }
  }

  &__logos {
    display: flex;
    align-items: center;
    gap: 2.6rem;
  }

  &__logo-picture {
    max-width: 3.8rem;
  }

  &__logo-title {
    font-size: 2.8rem;
    color: $color-text-main;
  }

  &__nav {
    font-family: $font-secondary;
    display: flex;
    align-items: center;
    gap: 4.4rem;

    @media only screen and (max-width: $breakpoint-medium) {
    }
  }

  &__nav-item {
    cursor: pointer;
    font-size: 2rem;
    text-decoration: none;
    color: $color-text-main;

    &--dropdown {
      position: relative;

      &::after {
        position: absolute;
        top: .4rem;
        right: -2rem;
        content: "";
        display: block;
        width: .8rem;
        height: .8rem;
        border-top: 1px solid $color-text-main;
        border-right: 1px solid $color-text-main;
        transform: rotate(135deg);
      }
    }
  }

  &__nav-item {
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__button {
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  &__heading-main {
    font-family: $font-main;
    font-weight: 800;
    font-size: 7.2rem;
    line-height: 8rem;
    letter-spacing: -4%;
    color: $color-text-main;
  }

  &__heading-secondary {
    font-weight: 400;
    font-size: 7.6rem;
    line-height: 8rem;
    color: $color-text-secondary;
    font-family: $font-tertiary;
    letter-spacing: -4%;
    margin-bottom: 3.9rem;
  }

  &__text {
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin: 0 auto 9.3rem;
    max-width: 51.8rem;
  }

  &__picture {
    margin: 0 auto;
    max-width: 118rem;
    display: flex;
    justify-content: center;
  }

  &__img {
    max-width: 100%;
  }
}