$color-light-pink: #F0E4CF;
$color-dark-violet: #8265E0;
$color-light-blue: #EBF3F5;
$color-text-main: #1A2147;
$color-text-secondary: #387B5E;
$font-main: 'Poppins', sans-serif;
$font-secondary: 'Questrial', sans-serif;
$font-tertiary: 'Source Serif 4', serif;
$color-white: #fff;