@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&family=Questrial&family=Source+Serif+4&display=swap");
.cards {
  margin-bottom: 9rem;
}
.cards__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cards__card {
  max-width: 55rem;
  padding: 11.1rem 11.2rem 6rem 11.2rem;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
}
.cards__card--left {
  background-color: #F9F7EC;
}
.cards__img {
  margin-bottom: 9.4rem;
}
.cards__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cards__heading {
  margin-bottom: 3.1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 4.2rem;
  line-height: 5.2rem;
}
.cards__text {
  margin-bottom: 6.2rem;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 3.2rem;
}
.cards__card--right {
  background-color: #EDF7F3;
}
.cards__button {
  align-self: center;
  margin-top: auto;
}

.button {
  display: inline-block;
  border-radius: 8px;
  padding: 1.2rem 2.4rem;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 2.4rem;
  transition: all 0.2s ease-in;
}
.button:hover {
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.button--transparent {
  border: 1px solid #8265E0;
  color: #8265E0;
  background-color: transparent;
}
.button--violet {
  border: 1px solid #8265E0;
  background-color: #8265E0;
  color: #fff;
}
.button--violet:hover {
  background-color: rgba(130, 101, 224, 0.8);
}
.button--white {
  background-color: #fff;
  color: #8265E0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.4rem;
  padding: 8px 12px 8px 12px;
  font-family: "Questrial", sans-serif;
}
.button--green {
  background-color: #4FAD84;
  color: #fff;
}
.button--green-border {
  border: 1px solid #4FAD84;
  color: #4FAD84;
}
.button--light-pink {
  background-color: #F0E4CF;
  color: #CC9E6C;
}

.main {
  background-color: #F0E4CF;
  padding: 0 0 35.2rem 0;
}
.main__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.4rem 6.4rem 2.4rem 4rem;
  margin-bottom: 11.2rem;
}
@media only screen and (max-width: 56.25em) {
  .main__header {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .main__header {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 4rem;
  }
}
.main__logos {
  display: flex;
  align-items: center;
  gap: 2.6rem;
}
.main__logo-picture {
  max-width: 3.8rem;
}
.main__logo-title {
  font-size: 2.8rem;
  color: #1A2147;
}
.main__nav {
  font-family: "Questrial", sans-serif;
  display: flex;
  align-items: center;
  gap: 4.4rem;
}
.main__nav-item {
  cursor: pointer;
  font-size: 2rem;
  text-decoration: none;
  color: #1A2147;
}
.main__nav-item--dropdown {
  position: relative;
}
.main__nav-item--dropdown::after {
  position: absolute;
  top: 0.4rem;
  right: -2rem;
  content: "";
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  border-top: 1px solid #1A2147;
  border-right: 1px solid #1A2147;
  transform: rotate(135deg);
}
.main__actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.main__heading-main {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 7.2rem;
  line-height: 8rem;
  letter-spacing: -4%;
  color: #1A2147;
}
.main__heading-secondary {
  font-weight: 400;
  font-size: 7.6rem;
  line-height: 8rem;
  color: #387B5E;
  font-family: "Source Serif 4", serif;
  letter-spacing: -4%;
  margin-bottom: 3.9rem;
}
.main__text {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin: 0 auto 9.3rem;
  max-width: 51.8rem;
}
.main__picture {
  margin: 0 auto;
  max-width: 118rem;
  display: flex;
  justify-content: center;
}
.main__img {
  max-width: 100%;
}

.businesses {
  padding: 7rem 8rem 8rem;
  background-color: #EBF3F5;
  margin: -13rem auto 8rem auto;
  width: 100%;
  max-width: 118rem;
  border-radius: 2.4rem;
}
.businesses__inner {
  position: relative;
}
.businesses__content {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media only screen and (max-width: 56.25em) {
  .businesses__content {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
}
.businesses__left {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.businesses__button-white {
  align-self: flex-start;
}
.businesses__title {
  font-family: "Poppins", sans-serif;
  max-width: 43.7rem;
  font-size: 6rem;
  line-height: 6.8rem;
}
.businesses__main-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.businesses__text {
  max-width: 39.2rem;
  font-family: "Source Serif 4", serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.6rem;
  letter-spacing: -2%;
}
.businesses__right {
  display: flex;
  justify-self: flex-start;
  width: 100%;
  max-width: 42rem;
}
.businesses__contractors {
  padding: 2.5rem 2.1rem 2.1rem 2.1rem;
  background-color: #fff;
  color: #214937;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  width: 100%;
  max-width: 41.9rem;
}
.businesses__invoice-title {
  margin-bottom: 2rem;
  color: #214937;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
}
.businesses__contactors-items {
  list-style-type: none;
  border-radius: 12px;
  border: 1px solid #EDF7F3;
  overflow: hidden;
}
.businesses__contractors-item {
  border-bottom: 1px solid #EDF7F3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 15px;
}
.businesses__contractors-item > img {
  max-width: 3.5rem;
}
.businesses__contractors-item > span {
  color: #666A84;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.businesses__contractors-item:last-of-type {
  border-bottom: none;
}
.businesses__contractors-item:hover {
  background-color: #EDF7F3;
  cursor: pointer;
}
.businesses__contractors-item:hover > span {
  color: #1A2147;
}
.businesses__contractors-item--active {
  background-color: #EDF7F3;
}
.businesses__contractors-item--active > span {
  color: #1A2147;
}
.businesses__invoice {
  max-width: 21rem;
  width: 100%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  font-family: "Source Serif 4", serif;
  color: #fff;
  background-color: #214937;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.businesses__heading-right {
  font-weight: 500;
  font-family: inherit;
  font-size: 3.2rem;
  line-height: 4rem;
  letter-spacing: -3%;
  margin-bottom: 2.3rem;
}
.businesses__heading-right-sub {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: inherit;
  margin-bottom: 1.8rem;
}
.businesses__invoice-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.businesses__invoice-item > span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 1px;
  color: inherit;
  opacity: 0.3;
}
.businesses__invoice-item > p {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: "Poppins", sans-serif;
}
.businesses__invoice-button {
  margin-top: 8rem;
  padding: 1.65rem 7.05rem;
  color: #1A2147;
  text-transform: capitalize;
}
.businesses__picture {
  position: relative;
  z-index: 5;
  max-width: 94rem;
  width: 100%;
  margin: -5rem auto 6rem auto;
}
.businesses__img {
  max-width: 100%;
}
.businesses__bottom-text {
  margin: 0 auto;
  font-family: "Source Serif 4", serif;
  text-align: center;
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 4rem;
  max-width: 62rem;
}

.get-paid {
  background: #F4F1FE;
  width: 100%;
  max-width: 118rem;
  margin: 0 auto 12rem auto;
  border-top-left-radius: 58rem;
  border-top-right-radius: 58rem;
  padding: 13.8rem 8rem 11rem 8rem;
  text-align: center;
}
.get-paid__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.get-paid__main {
  margin-bottom: 13rem;
}
.get-paid__white-button {
  margin-bottom: 3.8rem;
}
.get-paid__title {
  font-family: "Poppins", sans-serif;
  font-size: 6rem;
  font-weight: 800;
  line-height: 6.8rem;
  letter-spacing: -3%;
  text-align: center;
  margin-bottom: 3rem;
}
.get-paid__subtitle {
  font-family: "Source Serif 4", serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: -2%;
  text-align: center;
  margin-bottom: 4rem;
}
.get-paid__text {
  max-width: 53rem;
  font-family: "Questrial", sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: -2%;
  text-align: center;
  margin-bottom: 5.5rem;
}
.get-paid__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}
.get-paid__sub-main {
  text-align: center;
}
.get-paid__sub-title {
  font-family: "Poppins", sans-serif;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 4.2rem;
  letter-spacing: -3%;
  text-align: center;
  max-width: 48rem;
  margin: 0 auto 3rem;
}
.get-paid__sub-text {
  font-family: "Questrial", sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: -2%;
  text-align: center;
  max-width: 53rem;
  margin-bottom: 12.5rem;
}
.get-paid__pictures {
  position: relative;
}
.get-paid__img-main {
  max-width: 100%;
}
.get-paid__img-secondary {
  position: absolute;
  max-width: 20%;
  top: -18%;
  right: 10%;
}

.why-pay {
  margin-bottom: 12rem;
}
.why-pay--second {
  margin-bottom: 14rem;
}
.why-pay__heading {
  font-family: "Poppins", sans-serif;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 4.2rem;
  letter-spacing: -3%;
  text-align: left;
  margin-bottom: 8rem;
}
.why-pay__items {
  display: flex;
  justify-content: flex-start;
  gap: 12.1rem;
  margin-bottom: 7rem;
}
.why-pay__item {
  display: flex;
  flex-direction: column;
}
.why-pay__item-img {
  width: 100%;
  max-width: 16.8rem;
  margin-bottom: 4.7rem;
}
.why-pay__content {
  margin-top: auto;
}
.why-pay__sub-heading {
  margin-bottom: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  font-weight: 800;
  line-height: 3.2rem;
  letter-spacing: -1%;
  text-align: left;
}
.why-pay__text {
  font-family: "Questrial", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.6rem;
  letter-spacing: -1%;
  text-align: left;
}
.violet-boxes {
  position: relative;
  z-index: 10;
}
.violet-boxes__inner {
  border-radius: 2.4rem;
  background-color: #1A2147;
  padding: 4.2rem 8rem 4.2rem 5.5rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.violet-boxes__item {
  display: flex;
  align-items: flex-start;
  gap: 5.5rem;
}
.violet-boxes__item-left {
  padding-right: 4rem;
  border-right: 1px solid #4FAD84;
}
.violet-boxes__img {
  width: 100%;
  max-width: 6rem;
}
.violet-boxes__heading {
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  font-weight: 800;
  line-height: 3.2rem;
  letter-spacing: -1%;
  text-align: left;
  margin-bottom: 2.2rem;
}
.violet-boxes__text {
  max-width: 37rem;
  font-family: "Questrial", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 0;
  text-align: left;
}
.violet-boxes__link {
  font-family: "Questrial", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 0;
  text-align: left;
  color: #4FAD84;
}

.get-started {
  position: relative;
  z-index: 5;
  margin-top: -13rem;
  background-color: #F0E4CF;
}
.get-started__inner {
  padding: 25.8rem 0 14.4rem 0;
}
.get-started__main-content {
  padding-bottom: 8rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.get-started__main-title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 7.2rem;
  font-weight: 800;
  line-height: 8rem;
  letter-spacing: -4%;
  margin-bottom: 5.7rem;
}
.get-started__overviews {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.get-started__overview-title {
  font-family: "Source Serif 4", serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.6rem;
  letter-spacing: -2%;
  text-align: center;
  margin-bottom: 2.3rem;
}
.get-started__overview-text {
  font-family: "Questrial", sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: -2%;
  text-align: center;
  max-width: 42rem;
  margin-bottom: 5rem;
}
.get-started__review {
  padding-top: 8rem;
  text-align: center;
}
.get-started__quote-img {
  margin-bottom: 6rem;
}
.get-started__quote-title {
  margin: 0 auto 5rem auto;
  font-family: "Source Serif 4", serif;
  font-size: 6.6rem;
  font-weight: 400;
  line-height: 7.7rem;
  letter-spacing: -3%;
  text-align: center;
  color: #4FAD84;
  max-width: 92.6rem;
}
.get-started__name {
  font-family: "Questrial", sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 1.5rem;
}
.get-started__position {
  font-family: "Questrial", sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: 0;
  text-align: center;
  opacity: 0.7;
}

.footer {
  padding: 4rem 0 0 0;
}
.footer__content {
  padding-bottom: 6.2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
}
.footer__left {
  flex: 0 0 50%;
  display: flex;
  gap: 8.1rem;
}
.footer__column {
  display: flex;
  flex-direction: column;
}
.footer__title {
  margin-bottom: 1.8rem;
  font-family: "Questrial", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.6rem;
  letter-spacing: -1%;
  text-align: left;
  opacity: 0.7;
}
.footer__texts {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.footer__text-item {
  text-decoration: none;
  font-family: "Questrial", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.6rem;
  letter-spacing: -1%;
  text-align: left;
  color: #1A2147;
}
.footer__right {
  flex: 0 0 50%;
}
.footer__img {
  margin-bottom: 2.4rem;
}
.footer__copy {
  padding-top: 2.4rem;
  padding-bottom: 1.7rem;
  display: flex;
  justify-content: space-between;
  opacity: 0.7;
}
.footer__copy-left, .footer__copy-right {
  font-family: "Questrial", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2.6rem;
  letter-spacing: -1%;
  text-align: left;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 37.5%;
  }
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 118rem;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
